{
    "swagger": "2.0",
    "info": {
      "version": "1.0.0",
      "title": "API Documentation",
      "description": "Documentation interactive pour l'API"
    },
    
    "host": "mysql-2ca7e1db-frdmoussiliou-4f37.f.aivencloud.com",
    "basePath": "/api",
    "schemes": ["https"],
    "paths": {
      "/classe": {
        "get": {
          "summary": "Récupérer toutes les classes",
          "responses": {
            "200": {
              "description": "Liste des classes",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Classe"
                }
              }
            }
          }
        },
        "post": {
          "summary": "Créer une nouvelle classe",
          "parameters": [
            {
              "name": "body",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Classe"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "Classe créée avec succès"
            }
          }
        }
      },
      "/matiere": {
        "get": {
          "summary": "Récupérer toutes les matières",
          "responses": {
            "200": {
              "description": "Liste des matières",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Matiere"
                }
              }
            }
          }
        }
      }
    },
    "definitions": {
      "Classe": {
        "type": "object",
        "properties": {
          "nom": {
            "type": "string",
            "example": "Classe A"
          }
        }
      },
      "Matiere": {
        "type": "object",
        "properties": {
          "nom": {
            "type": "string",
            "example": "Mathématiques"
          },
          "coefficient": {
            "type": "number",
            "example": 2
          }
        }
      }
    }
  }
  